.colortext{color:#2ac4ea;}
.colorbg{background:#2A88BE;}
a{color:#2A88BE;}
::selection{background:#2A88BE;}
.navbar-nav>li.active>a,.navbar-nav>li.active>a:hover,.navbar-nav>li.active>a:focus{background-color:#2A88BE;}
.navbar-nav>li.active>a:before,.navbar-nav>li>a:hover:before,.navbar-nav>li>a:focus:before,.extra-nav-class a.dropdown-toggle:before{border-bottom:6px solid #2A88BE;}
.navbar-nav>li>a:hover,.navbar-nav>li>a:focus{background-color:#2A88BE;}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{background-color:#2A88BE !Important;}
.extra-nav-class a.dropdown-toggle{background-color:#2A88BE !Important;}
.car-highlight1{background-color:#2A88BE;}
.car-smallcircle{background:#none;}
.carouselText2{background:#2A88BE;}
.icon-box-top i:hover{background-color:#2A88BE;}
.fontawesome-icon.circle-white{color:#2A88BE;}
.grey-box-icon:hover .fontawesome-icon.circle-white,.grey-box-icon.active .fontawesome-icon.circle-white,.active i.fontawesome-icon{background-color:#2A88BE;}
.home-features .icon{background:#2A88BE;}
.copyright{background-color:#2A88BE;}
.panel1{border-left:6px solid #2A88BE;}
.buttoncolor{background:#2A88BE;}
.panel,.panel2{border-left:8px solid #2A88BE;}
.btn-default{background-color:#2A88BE;}
.btn-minimal:hover{color:#2A88BE;}
#accordion div h4:before{background:#2A88BE url('../img/plus.png') center center no-repeat;}
#accordion div.active h4:before{background:#2A88BE url('../img/minus.png') center center no-repeat;}
.sidebar h4{color:#2A88BE;}
.nav-tabs>.active>a,.nav-tabs>.active>a:hover{color:#2A88BE !important;}
blockquote{border-left:5px solid #2A88BE;}
#skill i{background:#2A88BE;}
.service-fancybox:hover i{color:#2A88BE;}
.service-fancybox:hover{background:#2A88BE;}
.service-fancybox.featured{background:#2A88BE;}
.service-fancybox.featured .circleicon i{color:#2A88BE;}
.service-fancybox.black .circleicon i{color:#2A88BE;}
.cbp_tmtimeline>li .cbp_tmicon{background:#2A88BE;}
.services i{color:#2A88BE;}
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{background-color:#2A88BE;border-color:#2A88BE;}
.landingpage-button{color:#2A88BE;}
.landingpage-button{color:#2A88BE;}
.landingpage-button span{color:#2A88BE;}
.landingpage-button strong{color:#2A88BE;}
.landingpage-button i{color:#2A88BE;}
.active-header{background:#2A88BE;}
.active-header:hover{background:#2A88BE;}
#filter ul li .selected{background:#2A88BE !Important;}
.drop-cap, .captionicons{background:#2A88BE;}
.pageheader-default .semitransparentbg, .bgarea-semitransparent{background:rgba(42,196,234,0.80);}